@model SidebarViewModel

<div id="sidebar" class="s-content__sidebar large-4 column">

    <div class="widget widget--search">
        <h3 class="h6">Search</h3>
        <form asp-action="GetBySearch" asp-controller="Home" method="get">
            <input type="text"
                   name="search" 
                   placeholder="Search here..."
                   class="text-search">
            <input type="submit" value="" class="submit-search">
        </form>
    </div>

    <div class="widget widget_tags">
        <h3 class="h6">Tags</h3>

        <div class="tagcloud group">
            @foreach(var tag in Model.Tags)
            {
                <a asp-action="GetByTag" asp-controller="Home" asp-route-tagName="@tag.Name">@tag.Name</a>
            }
        </div>
    </div>

    <div class="widget widget_popular">
        <h3 class="h6">Latest Posts</h3>

        <ul class="link-list">
            @foreach(var post in Model.LatestPosts)
            {
                <li>
                    <a asp-controller="Post" asp-action="Get" asp-route-id="@post.Id">@post.Title</a>
                </li>
            }
        </ul>
    </div>

</div> <!-- end sidebar -->