@model IEnumerable<PostPreviewViewModel>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "Latest posts";
}
<div class="row">
    <div id="main" class="s-content__main large-8 column">

        <h2>Latest posts</h2>

        @if (Model.Any())
        {
            foreach (var post in Model)
            {
                <partial name="_PostPreviewPartial" model="post" />
            }
        }
        else
        {
            <p>
                Posts not found
                <img id="sad-face" src="https://emojipedia-us.s3.amazonaws.com/thumbs/72/google/133/disappointed-face_1f61e.png" alt="😞" title="Sad Face" width="72" height="72">
            </p>
        }
    </div>
</div>
