@model PostPreviewViewModel

<article class="entry">

    <header class="entry__header">

        <h2 class="entry__title">
            <a asp-controller="Post" asp-action="Get" asp-route-id="@Model.Id">@Model.Title</a>
        </h2>

        <div class="entry__meta">
            <ul>
                <li>
                    @if(Model.IsEdited)
                    {
                        <i>Last edited </i>
                    }
                    @Model.LastModified.ToShortDateString()
                </li>
            </ul>
        </div>

    </header>

    <div class="entry__content">
        <p>@Html.Raw(Model.PreviewContent)</p>
    </div>

</article>
